[Unit]
Description=GPS disciplined OCXO clock synchronization service for PrecisionWave Dexter Platform

[Service]
WorkingDirectory=/root/tools/gpsdo/
ExecStart=/usr/bin/bash gpsdo.sh
Restart=always

[Install]
WantedBy=multi-user.target
